$button__color_standart: $blue;
$border__color_standart: $blue;

$font__color_standart: #fff;
$font__color_icon: #fff;

$button__color_standart_hovered: darken($blue, 5%);
$border__color_standart_hovered: $blue;

$button__color_active: $pink;
$border__color_active: $pink;

$button__color_active_hovered: darken($pink, 10%);
$border__color_active_hovered: $pink;

$font__color_disabled: $gray-600;
$button__color_disabled: $gray-300;
$border__color_disabled: $gray-400;
$font__color_disabled: $gray-600;

$border__radius_outer: 4px;
$border__radius_inner: 3px;

.btn {
  touch-action: manipulation;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  user-select: none;
  border: 0;
  outline: 0;
  background: $border__color_standart;
  text-align: center;
  white-space: nowrap;
  transition: $transition-time background;
  @if (variable-exists(border__radius_outer)) {
    border-radius: $border__radius_outer;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: $border__color_disabled;
    .btn__text {
      color: $font__color_disabled;
    }
  }
  & .btn__text {
    position: relative;
    //display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    color: $font__color_standart;
  }

  &_active {
    background: $border__color_active;
  }
}

.btn {
  &:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: "";
    background: $button__color_standart;
    transition: $transition-time background;
    @if (variable-exists(border__radius_inner)) {
      border-radius: $border__radius_inner;
    }
  }
  &_active {
    &:before {
      background: $button__color_active;
    }
  }
  &:disabled {
    &:before {
      background-color: $button__color_disabled;
    }
  }
}

.btn_type_link {
  text-decoration: none;
}

/*Размеры кнопок*/
/*XS - Начало*/
.btn_size_xs {
  font-size: 13px;
  line-height: 22px;
}
.btn_size_xs .btn__text {
  margin: 0 8px;
}
/*XS - КОНЕЦ*/

/*S - Начало*/
.btn_size_s {
  font-size: 13px;
  line-height: 24px;
}

.btn_size_s .btn__text {
  margin: 0 10px;
}
/*S - КОНЕЦ*/

/*M - Начало*/
.btn_size_m {
  font-size: 13px;
  line-height: 28px;
}
.btn_size_m .btn__text {
  margin: 0 13px;
}
/*M - КОНЕЦ*/

/*L - Начало*/
.btn_size_l {
  font-size: 15px;
  line-height: 32px;
}
.btn_size_l .btn__text {
  margin: 0 15px;
}
/*L - КОНЕЦ*/

/*XL - Начало*/
.btn_size_xl {
  font-size: 18px;
  line-height: 38px;
}

.btn_size_xl .btn__text {
  margin: 0 18px;
}
/*XL - КОНЕЦ*/
/*Кнопка с иконкой*/
.btn {
  & .icon {
    min-width: 1em;
    position: relative;
    display: inline-block;
    text-align: center;
    background-position: 50%;
    background-repeat: no-repeat;
    color: $font__color_icon;
  }
  &:disabled .icon {
    color: $font__color_disabled;
  }
}

/*Кнопка с иконкой - картинка для кнопки*/

.btn .icon + .btn__text {
  margin-left: 0;
}

/*Размеры*/
.btn.btn_size_xs .icon {
  width: 16px;
  font-size: 13px;
}

.btn.btn_size_s .icon {
  width: 20px;
  font-size: 16px;
}

.btn.btn_size_m .icon {
  width: 28px;
  font-size: 20px;
}
.btn.btn_size_l .icon {
  width: 36px;
  font-size: 22px;
}
.btn.btn_size_xl .icon {
  width: 42px;
  font-size: 24px;
}

/*Кнопка с картинкой*/
.btn__img {
  min-width: 1em;
  position: relative;
  display: inline-block;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
  &_round {
    border-radius: 50%;
  }
}

/*Размеры*/
.btn.btn_size_xs .btn__img {
  width: 16px;
  padding: 1px;
}

.btn.btn_size_s .btn__img {
  width: 20px;
  padding: 1px;
}

.btn.btn_size_m .btn__img {
  width: 28px;
  padding: 2px;
}
.btn.btn_size_l .btn__img {
  width: 30px;
  padding: 4px;
}
.btn.btn_size_xl .btn__img {
  width: 36px;
  padding: 4px;
}

.btn .btn__img + .btn__text {
  margin-left: 0;
}

.btn.btn_menu .btn__icon {
  color: #fff;
  transition: $transition-time color;
  font-size: 28px;
}

.btn.btn_menu:hover .btn__icon {
  color: $pink;
}

/*Состояния*/
//Стандартная кнопка

.btn:hover {
  cursor: pointer;
  background: $border__color_standart_hovered;
}
.btn:hover {
  &:before {
    background: $button__color_standart_hovered;
  }
}

.btn_active:hover {
  background: $border__color_active_hovered;
}
.btn_active:hover {
  &:before {
    background: $button__color_active_hovered;
  }
}
