@import "~@lb/lib.css";
.tagsPopular {
  padding: 5px;
  @extend boxshadow;
  &__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__title {
    line-height: 28px;
    font-size: 24px;
    text-align: center;
    display: block;
  }

  &__body {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__tag {
    padding: 2px;
  }
}
