@import "~@lb/lib.css";
.feed {
  @extend boxshadow;
  padding: 15px;
  &_bottom {
    margin-bottom: 15px;
  }
  &__inner {
    @mixin row-flex;
    @mixin xs-block {
      flex-direction: column;
    }
  }
  &__user {
    @mixin col;
    @mixin size 3;
    @mixin size-xs 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @mixin xs-block {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      margin-bottom: 15px;
    }
  }
  &__avatar {
    @mixin xs-block {
      padding: 0 15px;
    }
  }

  &__userblock {
    display: flex;
    flex-direction: column;
  }

  &__date {
    margin-bottom: 15px;
  }

  &__likeButton {
    @mixin xs-block {
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  &__info {
    @mixin col;
    @mixin size 9;
    @mixin size-xs 12;
    display: flex;
    flex-direction: column;
  }
  &__titleBox {
    display: block;
  }

  &__description {
    flex-grow: 1;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
  }
  &__about {
    margin-left: auto;
    margin-right: 0;
  }

  &__tagList {
    flex-grow: 1;
  }
}
