@import "../../../basestyles/_variables/colors";
@import "../../../basestyles/_variables/transition";

$button__color_standart: $blue;
$border__color_standart: $blue;
$button__color_alt: $pink;
$border__color_alt: $pink;

$font__color_standart: #fff;
$font__color_alt: red;
$button__color_standart_hovered: darken($blue, 5%);
$border__color_standart_hovered: $blue;

$border__radius_outer: 4px;
$border__radius_inner: 3px;

.btn {
  touch-action: manipulation;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  user-select: none;
  border: 0;
  outline: 0;
  background: $border__color_standart;
  text-align: center;
  white-space: nowrap;
  transition: $transition-time background;
  @if (variable-exists(border__radius_outer)) {
    border-radius: $border__radius_outer;
  }
  &:focus {
    outline: none;
  }
  & .btn__text {
    position: relative;
    //display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    color: $font__color_standart;
  }
}

.btn {
  &:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: "";
    background: $button__color_standart;
    transition: $transition-time background;
    @if (variable-exists(border__radius_inner)) {
      border-radius: $border__radius_inner;
    }
  }
}

/*Размеры кнопок*/
/*XS - Начало*/
.btn_size_xs {
  font-size: 13px;
  line-height: 22px;
}
.btn_size_xs .btn__text {
  margin: 0 8px 0 0;
}
/*XS - КОНЕЦ*/

/*S - Начало*/
.btn_size_s {
  font-size: 13px;
  line-height: 24px;
}

.btn_size_s .btn__text {
  margin: 0 10px 0 0;
}
/*S - КОНЕЦ*/

/*M - Начало*/
.btn_size_m {
  font-size: 13px;
  line-height: 28px;
}
.btn_size_m .btn__text {
  margin: 0 13px 0 0;
}
/*M - КОНЕЦ*/

/*L - Начало*/
.btn_size_l {
  font-size: 15px;
  line-height: 32px;
}
.btn_size_l .btn__text {
  margin: 0 15px 0 0;
}
/*L - КОНЕЦ*/

/*XL - Начало*/
.btn_size_xl {
  font-size: 18px;
  line-height: 38px;
}

.btn_size_xl .btn__text {
  margin: 0 18px 0 0;
}
/*XL - КОНЕЦ*/

/*Состояния*/
//Стандартная кнопка

.btn:hover {
  cursor: pointer;
  background: $border__color_standart_hovered;
}
.btn:hover {
  &:before {
    background: $button__color_standart_hovered;
  }
}

/*Кнопка с картинкой*/
.btn__img {
  min-width: 1em;
  position: relative;
  display: inline-block;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
}

/*Размеры*/
.btn__img_arround {
  border-radius: 50%;
}
.btn__img {
  width: 16px;
  padding: 2px;
}

.btn__img {
  width: 20px;
  padding: 2px;
}

.btn__img {
  width: 28px;
  padding: 2px;
}
.btn__img {
  width: 30px;
  padding: 3px;
}
.btn__img {
  width: 36px;
  padding: 4px;
}

/* .btn .btn__img + .btn__text {
  margin-left: 0;
} */
