@import "~@lb/lib.css";
.header {
  background-color: var(--gray-900);  
  &__wrap {
    @mixin wrapper;  
   
  }
  &__inner {
    @mixin row-flex;  
    align-items: center;
    height: 70px;    
  }
  &__logo {
    @mixin col;
    @mixin size 3;       
    &Link {
      text-decoration: none;
    }
  }
  &__menu {
    @mixin col;
    @mixin size 9;  
     
  }
}
