@import "~@lb/lib.css";
.header {
	background-color: var(--gray-900);
	&__wrap {
		@mixin wrapper;
	}
	&__inner {
		@mixin row-flex;

		/* 	height: 70px; */
		@mixin xs-block {
			padding: 15px 0;
		}
	}
	&__logo {
		@mixin col;
		@mixin size 3;
		align-self: center;
		display: block;
		text-decoration: none;
		height: 100%;
		display: flex;
		@mixin xs-block {
			@mixin size 6;
			&_auth {
				justify-content: center;
				@mixin size 12;
			}
		}
	}
	&__media {
		@mixin col;
		@mixin size 9;
		display: flex;
		flex-wrap: wrap;
		@mixin xs-block {
			@mixin size 6;
			justify-content: space-between;
			&_auth {
				padding: 15px 0;
				@mixin size 12;
			}
		}
	}
	&__menu {
		margin-left: auto;
		margin-right: 0;
		@mixin md-block {
			order: 1;
			min-width: 95px;

			&_auth {
				margin: 0;
			}
		}
	}
	&__user {
		display: flex;
		align-items: center;
		width: 150px;
		padding-left: 15px;
		@mixin md-block {
			order: 0;
			margin-left: auto;
			margin-right: 0;
		}
		@mixin xs-block {
			margin: 0;
		}
	}
}
