@import "../../basestyles/_variables/colors";
@import "../../basestyles/_variables/transition";
@import "../../basestyles/gridOnly/gridOnly";

.header {
  background-color: $gray-800;
  display: flex;
}
.inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  @include media-breakpoint-down(md) {
    order: 2;
    /* margin-right: 0;
    margin-left: auto; */
    flex-grow: 1;
    padding: 15px 0;
  }
  @include media-breakpoint-down(sm) {
    order: 2;
  }
}
.logoLink {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}
.menu {
  margin-left: auto;
  margin-right: 0;
  @include media-breakpoint-down(md) {
    order: 0;
    width: 60px;
    margin-left: 0;
  }
  @include media-breakpoint-down(sm) {
    order: 0;
  }
}

.user {
  display: flex;
  align-items: center;
  margin-left: 15px;
  @include media-breakpoint-down(md) {
    order: 1;
    margin-left: 0;
  }
  @include media-breakpoint-down(sm) {
    order: 1;
    margin-left: auto;
    margin-right: 0;
    padding: 15px 0;
    //justify-content: center;
  }
}
