@import "../../basestyles/_variables/colors";
@import "../../basestyles/gridOnly/gridOnly";
@import "../../basestyles/_variables/placeholders";

.inner {
  display: flex;
  @extend %boxshadow;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.user {
  width: 25%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media-breakpoint-down(xs) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 15px;
  }
}
.avatar {
  border-radius: 50%;
  @include media-breakpoint-down(xs) {
    padding: 0 15px;
  }
}
.userblock {
  display: flex;
  flex-direction: column;
}
.author {
  font-size: 18px;
  color: $teal;
  font-weight: bold;
}
.date {
  font-size: 14px;
  columns: $gray-500;
  margin-bottom: 15px;
}
.likeButton {
  @include media-breakpoint-down(xs) {
    margin-top: auto;
    margin-bottom: 0;
  }
}
.info {
  width: 75%; //calc(66.6666% - 15px);
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
.titleBox {
  font-size: 28px;
  color: $teal;
  display: block;
}

.description {
  text-indent: 5px;
  color: $gray-700;
  flex-grow: 1;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
}
.about {
  //width: 120px;
  margin-left: auto;
  margin-right: 0;
}

.tagList {
  flex-grow: 1;
}
.tag {
  padding: 2px;
}
