.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item {
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
  margin: 0 5px;
}

.pagination__link {
  background-color: var(--pink);
  padding: 5px 10px;
  color: var(--white);
  border-radius: 4px;
  &_active {
    background-color: var(--purple);
  }
}
