@import "../../basestyles/_variables/colors";
@import "../../basestyles/_variables/transition";
@import "../../basestyles/gridOnly/gridOnly.scss";

$link__color: $pink;
$link__color_hover: $white;
$link__color-bg: transparent;
$link__color-bg_hover: $pink;
$menu_bg-adaptive: $gray-800;

.nav {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
  font-size: 18px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    z-index: 1;
    font-size: 28px;
  }
}

.menuWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include media-breakpoint-down(md) {
    padding-right: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    left: -65px;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: $menu_bg-adaptive;
    box-shadow: 8px 0 8px -8px rgba($gray-900, 0.5);
    transition: $transition-time left;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray-600;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $pink;
      outline: 1px solid $gray-900;
    }
  }
  &_open {
    left: 0;
  }
}

.link {
  display: flex;
  justify-content: center;
  color: $link__color;
  background-color: $link__color-bg;
  transition: $transition-time color, $transition-time background-color;
  padding: 10px 15px;
  &:hover {
    color: $link__color_hover;
    background-color: $link__color-bg_hover;
  }
}

.linkIcon {
  padding-right: 2.5px;
  @include media-breakpoint-down(md) {
    padding-right: 0;
  }
}
.linkText {
  padding-left: 2.5px;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.open {
  cursor: pointer;
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
    &_enter {
      opacity: 0;
      transition: $transition-time opacity;
    }
    &_enterActive {
      opacity: 1;
    }
    &_enterDone {
      opacity: 1;
    }

    &_exit {
      opacity: 1;
      transition: $transition-time opacity;
    }
    &_exitActive {
      opacity: 0;
    }
    &_exitDone {
      opacity: 0;
    }
  }
}

.close {
  cursor: pointer;
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
  }
}
