/* @import "../../lib/lib.css"; */
/* @import "~@lb/lib.css"; */
@import "~@lb/lib.css";
$link__color: var(--pink);
$link__color_hover: var(--white);
$link__color-bg: transparent;
$link__color-bg_hover: var(--pink);
$transition-time: var(--transition-time);
$menu_bg-adaptive: var(--gray-800);

.nav {
	height: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;

	background-color: transparent;
	@mixin md-block {
		flex-direction: column;
		z-index: 1;
	}
}
.nav__inner {
	margin-left: auto;
	margin-right: 0;
	height: 100%;
}
.nav__wrap {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;

	@mixin md-block {
		padding-right: 0;
		flex-direction: column;
		flex-wrap: nowrap;
		position: fixed;
		left: -65px;
		top: 0;
		height: 100vh;
		overflow-x: hidden;
		background-color: $menu_bg-adaptive;
		box-shadow: 8px 0 8px -8px var(--gray-900);
		transition: $transition-time left;
		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-track {
			background-color: var(--gray-600);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--pink);
			outline: 1px solid var(--gray-900);
		}
	}
	&_open {
		left: 0;
	}
}

.nav__link {
	display: flex;
	align-items: center;
	padding: 0 15px;
	font-size: 18px;
	color: $link__color;
	background-color: $link__color-bg;
	transition: $transition-time color, $transition-time background-color;
	&:hover {
		color: $link__color_hover;
		background-color: $link__color-bg_hover;
	}
	@mixin md-block {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&_close {
		cursor: pointer;
		display: none;
		@mixin md-block {
			display: flex;
		}
	}
	&_open {
		display: none;
		@mixin md-block {
			height: 100%;
			padding-top: 0px;
			padding-bottom: 0px;
			display: flex;
			cursor: pointer;
			&_enter {
				opacity: 0;
				transition: $transition-time opacity;
			}
			&_enterActive {
				opacity: 1;
			}
			&_enterDone {
				opacity: 1;
			}

			&_exit {
				opacity: 1;
				transition: $transition-time opacity;
			}
			&_exitActive {
				opacity: 0;
			}
			&_exitDone {
				opacity: 0;
			}
		}
	}
}

.nav__linkIcon {
	margin-right: 5px;
	@mixin md-block {
		margin-right: 0px;
		font-size: 36px;
	}
}
.nav__linkText {
	@mixin md-block {
		display: none;
	}
}
